@page
@using IdentityServer4.Extensions
@using Newtonsoft.Json
@using Serilog.Core
@using DeliveryWebApp.Domain.Entities
@model DeliveryWebApp.WebUI.Areas.Identity.Pages.Account.Manage.AddressModel
@{
    ViewData["Title"] = "Your addresses";
}

<style type="text/css">
    p {
        margin-top: 1rem;
        font-family: 'Roboto', sans-serif;
    }
</style>

<h4>@ViewData["Title"]</h4>

@* FIXME: status message randomly appears *@

<partial name="_StatusMessage" for="StatusMessage"/>

<div class="container">

@if (Model.Addresses.IsNullOrEmpty())
{
    <p>Add your primary address</p>

    <div class="form-group col-md-7">
        <label class="form-label">Primary Address</label>
        <div class="input-group col-7">
            <input class="form-control" id="input-address-0" value="" disabled/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="location-btn-addr-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <button id="save-btn-0" class="btn btn-primary" type="button">Save</button>

    <button class="btn btn-outline-secondary edit-btn" data-bs-toggle="collapse" data-bs-target="#address-0-collapse" aria-expanded="false" aria-controls="address-0-collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Insert Manually
    </button>

    <div class="collapse" id="address-0-collapse">
        <div class="card card-body">

            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine1"></label>
                        <input class="form-control" asp-for="Input.AddressLine1" placeholder="Address Line 1" id="address0-line1">
                        <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine2"></label>
                        <input class="form-control" asp-for="Input.AddressLine2" placeholder="Address Line 2" id="address0-line2">
                        <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label asp-for="Input.Number"></label>
                        <input class="form-control" asp-for="Input.Number" placeholder="1, 21B..." id="address0-number">
                        <span asp-validation-for="Input.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.City"></label>
                        <input class="form-control" asp-for="Input.City" placeholder="City" id="address0-city">
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.PostalCode"></label>
                        <input class="form-control" asp-for="Input.PostalCode" placeholder="Postal Code: 20020..." id="address0-postal-code">
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.StateProvince"></label>
                        <input class="form-control" asp-for="Input.StateProvince" placeholder="CA, NY, ..." id="address0-state-province">
                        <span asp-validation-for="Input.StateProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Input.Country"></label>
                        <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries" id="address0-country">
                        </select>
                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Longitude" id="address0-latitude" hidden>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Latitude" id="address0-longitude" hidden>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="edit-address-save-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg>
                    Save
                </button>
            </form>

        </div>
    </div>
}
else
{
    <form method="post" asp-page-handler="DeleteAddress" asp-route-id="@Model.Addresses[0].Id">
        <div class="form-group col-md-7">
            <label class="form-label">Primary Address</label>
            <div class="input-group col-7">
                <input class="form-control" id="input-address-0" value="@Model.Addresses[0].ToString()" disabled/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="location-btn-addr-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="delete-btn-addr-0" value="DeleteAddress">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <button class="btn btn-outline-secondary edit-btn" data-bs-toggle="collapse" data-bs-target="#address-0-collapse" aria-expanded="false" aria-controls="address-0-collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Edit
    </button>

    <div class="collapse" id="address-0-collapse">
        <div class="card card-body">

            <form method="post" asp-page-handler="UpdateAddress" asp-route-id="@Model.Addresses[0].Id">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine1"></label>
                        <input class="form-control" asp-for="Input.AddressLine1" placeholder="Address Line 1" value="@Model.Addresses[0].AddressLine1" id="update-address0-line1">
                        <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine2"></label>
                        <input class="form-control" asp-for="Input.AddressLine2" placeholder="Address Line 2" value="@Model.Addresses[0].AddressLine2" id="update-address0-line2">
                        <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label asp-for="Input.Number"></label>
                        <input class="form-control" asp-for="Input.Number" placeholder="1, 21B..." value="@Model.Addresses[0].Number" id="update-address0-number">
                        <span asp-validation-for="Input.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.City"></label>
                        <input class="form-control" asp-for="Input.City" placeholder="City" value="@Model.Addresses[0].City" id="update-address0-city">
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.PostalCode"></label>
                        <input class="form-control" asp-for="Input.PostalCode" placeholder="Postal Code: 20020..." value="@Model.Addresses[0].PostalCode" id="update-address0-postal-code">
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.StateProvince"></label>
                        <input class="form-control" asp-for="Input.StateProvince" placeholder="CA, NY, ..." value="@Model.Addresses[0].StateProvince" id="update-address0-state-province">
                        <span asp-validation-for="Input.StateProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Input.Country"></label>
                        <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries" aria-selected="@Model.Addresses[0].Country" id="update-address0-country">
                        </select>
                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Latitude" value="@Model.Addresses[0].Latitude" id="update-address0-latitude" hidden>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Longitude" value="@Model.Addresses[0].Longitude" id="update-address0-longitude" hidden>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="update-address-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg>
                    Save
                </button>
            </form>

        </div>
    </div>
}

<hr/>

@if (Model.Addresses.IsNullOrEmpty() || Model.Addresses.Count == 1)
{
    <p>Add your secondary address</p>

    <div class="form-group col-md-7">
        <label class="form-label">Secondary Address</label>
        <div class="input-group col-7">
            <input class="form-control" id="input-address-1" value="" disabled/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="location-btn-addr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <button id="save-btn-1" class="btn btn-primary" type="button">Save</button>

    <button class="btn btn-outline-secondary edit-btn" data-bs-toggle="collapse" data-bs-target="#address-1-collapse" aria-expanded="false" aria-controls="address-1-collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Insert Manually
    </button>

    <div class="collapse" id="address-1-collapse">
        <div class="card card-body">

            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine1"></label>
                        <input class="form-control" asp-for="Input.AddressLine1" placeholder="Address Line 1" id="address1-line1">
                        <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine2"></label>
                        <input class="form-control" asp-for="Input.AddressLine2" placeholder="Address Line 2" id="address1-line2">
                        <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label asp-for="Input.Number"></label>
                        <input class="form-control" asp-for="Input.Number" placeholder="1, 21B..." id="address1-number">
                        <span asp-validation-for="Input.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.City"></label>
                        <input class="form-control" asp-for="Input.City" placeholder="City" id="address1-city">
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.PostalCode"></label>
                        <input class="form-control" asp-for="Input.PostalCode" placeholder="Postal Code: 20020..." id="address1-postal-code">
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.StateProvince"></label>
                        <input class="form-control" asp-for="Input.StateProvince" placeholder="CA, NY, ..." id="address1-state-province">
                        <span asp-validation-for="Input.StateProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Input.Country"></label>
                        <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries" id="address1-country">
                        </select>
                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Latitude" id="address1-latitude" hidden>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Longitude" id="address1-longitude" hidden>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="edit-address-save-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg>
                    Save
                </button>
            </form>

        </div>
    </div>
}
else
{
    <form method="post" asp-page-handler="DeleteAddress" asp-route-id="@Model.Addresses[1].Id">
        <div class="form-group col-md-7">
            <label class="form-label">Secondary Address</label>
            <div class="input-group col-7">
                <input class="form-control" id="input-address-1" value="@Model.Addresses[1].ToString()" disabled/>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="location-btn-addr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                    </button>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="delete-btn-addr-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <button class="btn btn-outline-secondary edit-btn" data-bs-toggle="collapse" data-bs-target="#address-1-collapse" aria-expanded="false" aria-controls="address-1-collapse">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Edit
    </button>

    <div class="collapse" id="address-1-collapse">
        <div class="card card-body">

            <input id="address1Id" value="@Model.Addresses[1].Id" hidden/>

            <form method="post" asp-page-handler="UpdateAddress" asp-route-id="@Model.Addresses[1].Id">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine1"></label>
                        <input class="form-control" asp-for="Input.AddressLine1" placeholder="Address Line 1" value="@Model.Addresses[1].AddressLine1" id="update-address1-line1">
                        <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.AddressLine2"></label>
                        <input class="form-control" asp-for="Input.AddressLine2" placeholder="Address Line 2" value="@Model.Addresses[1].AddressLine2" id="update-address1-line2">
                        <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-2">
                        <label asp-for="Input.Number"></label>
                        <input class="form-control" asp-for="Input.Number" placeholder="1, 21B..." value="@Model.Addresses[1].Number" id="update-address1-number">
                        <span asp-validation-for="Input.Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.City"></label>
                        <input class="form-control" asp-for="Input.City" placeholder="City" value="@Model.Addresses[1].City" id="update-address1-city">
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.PostalCode"></label>
                        <input class="form-control" asp-for="Input.PostalCode" placeholder="Postal Code: 20020..." value="@Model.Addresses[1].PostalCode" id="update-address1-postal-code">
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Input.StateProvince"></label>
                        <input class="form-control" asp-for="Input.StateProvince" placeholder="CA, NY, ..." value="@Model.Addresses[1].StateProvince" id="update-address1-state-province">
                        <span asp-validation-for="Input.StateProvince" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Input.Country"></label>
                        <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries" aria-selected="@Model.Addresses[1].Country" id="update-address1-country">
                        </select>
                        <span asp-validation-for="Input.Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Latitude" value="@Model.Addresses[1].Latitude" id="update-address1-latitude" hidden>
                    </div>
                    <div class="form-group col-md-6">
                        <input class="form-control" asp-for="Input.Longitude" value="@Model.Addresses[1].Longitude" id="update-address1-longitude" hidden>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="update-address-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg>
                    Save
                </button>
            </form>
        </div>
    </div>
}

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <script src="https://unpkg.com/@@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script src="/js/classes/address.min.js"></script>

    <script type="text/javascript">
        $(function () {

                $("#location-btn-addr-0").on("mousedown",
                    function() {
                        navigator.geolocation.getCurrentPosition(getCoords0);
                    });

                /**
                 * forward geocode
                 * @@param position latlng
                 */
                function getCoords0(position) {
                    const accessToken = 'pk.eyJ1Ijoic3RlY3JvdHRpMSIsImEiOiJja3Bna2kzbHYyaThoMm9ueHl1dzlnaTc1In0.EpALSOaDOmuM8XGS_IQzvA';
                    const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${position.coords.longitude},${position.coords.latitude}.json?limit=1&access_token=${accessToken}`;

                    $.ajax({
                        type: "GET", // get reverse geocoding from mapbox api
                        url: url,
                        dataType: "JSON",
                        contentType: "application/json; charset=utf-8",
                        success: function(data, status, xhr) {
                            $("#input-address-0").val(data.features[0].place_name);

                            $("#save-btn-0").on("click",
                                function () {
                                    const address0 = new Address(
                                        data.features[0].text,              // addressLine1
                                        "",                                 // addressLine2
                                        data.features[0].address,           // number
                                        data.features[0].context[1].text,   // city
                                        data.features[0].context[0].text,   // postalCode
                                        data.features[0].context[3].text,   // country
                                        data.features[0].context[2].text,   // stateProvince
                                        position.coords.longitude,          // latitude
                                        position.coords.latitude,           // longitude
                                        @Model.Customer.Id,                 // customerId
                                        null);                              // restaurateurId

                                    if (validate(address0.toString())) {
                                        alert("The address provided has an incorrect format"); // TODO: localize
                                        return;
                                    }

                                    $.ajax({
                                        type: "POST", // save into database
                                        async: true,
                                        url: "/api/addresses",
                                        dataType: "JSON",
                                        data: JSON.stringify(address0),
                                        contentType: "application/json; charset=utf-8",
                                        success: function(data, status, xhr) {
                                            @*console.log(status);
                                            @{
                                                Model.StatusMessage = "Your address has been updated";
                                            }*@
                                            window.location.reload(true);
                                        },
                                        error: function(jqXhr, textStatus, errorMessage) {
                                            console.log(errorMessage);
                                        }
                                    });
                                });
                        },
                        error: function(jqXhr, textStatus, errorMessage) {
                            console.log(errorMessage);
                        }
                    });
                }

                /**
                 * Save the manually inserted address
                 */
                $("#edit-address-save-0").on("mousedown",
                    function() {
                        const accessToken = 'pk.eyJ1Ijoic3RlY3JvdHRpMSIsImEiOiJja3Bna2kzbHYyaThoMm9ueHl1dzlnaTc1In0.EpALSOaDOmuM8XGS_IQzvA';

                        const query = `${$("#address0-line1").val()}, ${$("#address0-line2").val()}, ${$("#address0-number").val()}, ${$("#address0-city").val()}, ${$("#address0-postal-code").val()}, ${$("#address0-state-province").val()}, ${$("#address0-country option:selected").val()}`;

                        const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${query}.json?limit=1&access_token=${accessToken}`;

                        $.ajax({ //forward geocode
                            type: "GET",
                            url: url,
                            dataType: "JSON",
                            contentType: "application/json; charset=utf-8",
                            success: function(data, status, xhr) {

                                const [longitude, latitude] = data.features[0].center;
                                $("#address0-longitude").val(longitude);
                                $("#address0-latitude").val(latitude);
                            },
                            error: function() {
                                console.log("Error");
                            }
                        });
                    });

                $("#edit-address-save-1").on("click",
                    function() {
                        const accessToken = 'pk.eyJ1Ijoic3RlY3JvdHRpMSIsImEiOiJja3Bna2kzbHYyaThoMm9ueHl1dzlnaTc1In0.EpALSOaDOmuM8XGS_IQzvA';

                        const query = `${$("#address1-line1").val()}, ${$("#address1-line2").val()}, ${$("#address1-number").val()}, ${$("#address1-city").val()}, ${$("#address1-postal-code").val()}, ${$("#address1-state-province").val()}, ${$("#address1-country option:selected").val()}`;

                        const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${query}.json?limit=1&access_token=${accessToken}`;

                        $.ajax({ //forward geocode
                            type: "GET",
                            url: url,
                            dataType: "JSON",
                            contentType: "application/json; charset=utf-8",
                            success: function(data, status, xhr) {

                                const [longitude, latitude] = data.features[0].center;
                                $("#address1-longitude").val(longitude);
                                $("#address1-latitude").val(latitude);
                            },
                            error: function() {
                                console.log("Error");
                            }
                        });
                    });

                /**
                 * Update the primary address
                 */
                $("#update-address-0").on("mousedown",
                    function() {
                        const accessToken = 'pk.eyJ1Ijoic3RlY3JvdHRpMSIsImEiOiJja3Bna2kzbHYyaThoMm9ueHl1dzlnaTc1In0.EpALSOaDOmuM8XGS_IQzvA';

                        const query = `${$("#update-address0-line1").val()}, ${$("#update-address0-line2").val()}, ${$("#update-address0-number").val()}, ${$("#update-address0-city").val()}, ${$("#update-address0-postal-code").val()}, ${$("#update-address0-state-province").val()}, ${$("#update-address0-country option:selected").val()}`;

                        const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${query}.json?limit=1&access_token=${accessToken}`;

                        $.ajax({ //forward geocode
                            type: "GET",
                            url: url,
                            dataType: "JSON",
                            contentType: "application/json; charset=utf-8",
                            success: function(data, status, xhr) {

                                const [longitude, latitude] = data.features[0].center;
                                $("#update-address0-longitude").val(longitude);
                                $("#update-address0-latitude").val(latitude);
                            },
                            error: function() {
                                console.log("Error");
                            }
                        });
                    });

                /**
                 *
                 * Update secondary address
                 */
                $("#update-address-1").on("mousedown",
                    function() {

                        const accessToken = 'pk.eyJ1Ijoic3RlY3JvdHRpMSIsImEiOiJja3Bna2kzbHYyaThoMm9ueHl1dzlnaTc1In0.EpALSOaDOmuM8XGS_IQzvA';

                        const query = `${$("#update-address1-line1").val()}, ${$("#update-address1-line2").val()}, ${$("#update-address1-number").val()}, ${$("#update-address1-city").val()}, ${$("#update-address1-postal-code").val()}, ${$("#update-address1-state-province").val()}, ${$("#update-address1-country option:selected").val()}`;

                        const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${query}.json?limit=1&access_token=${accessToken}`;

                        $.ajax({ //forward geocode
                            type: "GET",
                            url: url,
                            dataType: "JSON",
                            contentType: "application/json; charset=utf-8",
                            success: function(data, status, xhr) {

                                const [longitude, latitude] = data.features[0].center;
                                $("#update-address1-longitude").val(longitude);
                                $("#update-address1-latitude").val(latitude);
                            },
                            error: function() {
                                console.log("Error");
                            }
                        });
                    });

                $("#location-btn-addr-1").on("mousedown",
                    function() {
                        navigator.geolocation.getCurrentPosition(getCoords1);
                    });

                function getCoords1(position) {
                    const accessToken = 'pk.eyJ1Ijoic3RlY3JvdHRpMSIsImEiOiJja3Bna2kzbHYyaThoMm9ueHl1dzlnaTc1In0.EpALSOaDOmuM8XGS_IQzvA';
                    const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${position.coords.longitude},${position.coords.latitude}.json?limit=1&access_token=${accessToken}`;

                    $.ajax({
                        type: "GET", // get reverse geocoding from mapbox api
                        async: true,
                        url: url,
                        dataType: "JSON",
                        contentType: "application/json; charset=utf-8",
                        success: function(data, status, xhr) {
                            $("#input-address-1").val(data.features[0].place_name);

                            $("#save-btn-1").on("click",
                                function() {
                                    const address1 = new Address(
                                        data.features[0].text,              // addressLine1
                                        "",                                 // addressLine2
                                        data.features[0].address,           // number
                                        data.features[0].context[1].text,   // city
                                        data.features[0].context[0].text,   // postalCode
                                        data.features[0].context[3].text,   // country
                                        data.features[0].context[2].text,   // stateProvince
                                        position.coords.longitude,          // latitude
                                        position.coords.latitude,           // longitude
                                        @Model.Customer.Id,                 // customerId
                                        null);                              // restaurateurId

                                    if (validate(address1.toString())) {
                                        alert("The address provided has an incorrect format"); // TODO: localize
                                        return;
                                    }

                                    $.ajax({
                                        type: "POST", // save into database
                                        async: true,
                                        url: "/api/addresses",
                                        dataType: "JSON",
                                        data: JSON.stringify(address1),
                                        contentType: "application/json; charset=utf-8",
                                        success: function(data, status, xhr) {
                                            console.log(status);
                                            @{
                                                Model.StatusMessage = "Your address has been updated";
                                            }
                                            window.location.reload(true);
                                        },
                                        error: function(jqXhr, textStatus, errorMessage) {
                                            console.log(errorMessage);
                                        }
                                    });
                                });
                        },
                        error: function(jqXhr, textStatus, errorMessage) {
                            console.log(errorMessage);
                        }
                    });
            }

            function validate(string) {
                const regexp = new RegExp("^[a-zA-Z0-9\s,'-]*$");
                if (!regexp.test(string)) {
                    return false;
                }
                return true;
            }

            }
        );
    </script>
}