@page
@using Duende.IdentityServer.Extensions
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Localization
@using System.Globalization
@model DeliveryWebApp.WebUI.Areas.Identity.Pages.Account.Manage.AddressModel
@inject IStringLocalizer<AddressModel> localizer
@{
    ViewData["Title"] = localizer["Your addresses"];
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    var regionInfo = new RegionInfo("en-US");

    if (!requestCulture.Culture.IsNeutralCulture)
    {
        regionInfo = new RegionInfo(requestCulture.Culture.LCID);
    }
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">

<style type="text/css">
    p {
        margin-top: 1rem;
        font-family: 'Roboto', sans-serif;
    }
</style>

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="container">

    <p id="customer-id" data-id="@Model.Customer.Id" hidden></p>
    <p id="country-code" data-country="@regionInfo.TwoLetterISORegionName" hidden></p>
    <p id="lang-code" data-lang="@requestCulture.Culture.TwoLetterISOLanguageName" hidden></p>

    @if (Model.Addresses.IsNullOrEmpty())
    {
        <p>@localizer["Add your delivery address"]</p>

        <div class="form-group col-md-7" id="first-address-form">
            <label class="form-label">@localizer["First Address"]</label>
            <form autocomplete="off">
                <div class="input-group col-7">
                    <input class="form-control shadow" id="input-first-address" placeholder="Your Address" value="" data-lng="" data-lat="" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary shadow" data-bs-toggle="tooltip" data-bs-placement="right" title="Automatically detect your position" id="location-first-address-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <button id="save-first-address-btn" class="btn btn-primary shadow" type="button">@localizer["Save"]</button>
    }
    else
    {
        <div class="form-group col-md-9">
            <label class="form-label">@localizer["First Address"]</label>
            <div class="input-group col-9">
                <input hidden id="address0-id" value="@Model.Addresses[0].Id" />
                <input class="form-control shadow" id="input-first-address" value="@Model.Addresses[0].PlaceName" disabled data-id="@Model.Addresses[0].Id"/>
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary shadow" data-bs-toggle="tooltip" data-bs-placement="right" title="@localizer["Automatically detect your position"]" id="location-first-address-btn" hidden>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </button>
                    <button class="btn btn-outline-danger shadow" type="submit" id="delete-first-address-btn" title="@localizer["Delete address"]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <button id="save-first-address-btn" class="btn btn-primary shadow" type="button" hidden>@localizer["Save"]</button>
    }

    <hr />

    @if (Model.Addresses.IsNullOrEmpty() || Model.Addresses.Count == 1)
    {
        <p>@localizer["Add your delivery address"]</p>

        <div class="form-group col-md-9" id="second-address-form">
            <label class="form-label">@localizer["Second Address"]</label>
            <form autocomplete="off">
                <div class="input-group col-9">
                    <input class="form-control shadow" id="input-second-address" placeholder="Your Address" value="" data-lng="" data-lat="" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary shadow" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Automatically detect your position" id="location-second-address-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <button id="save-second-address-btn" class="btn btn-primary shadow" type="button">@localizer["Save"]</button>
    }
    else
    {
        <div class="form-group col-md-9">
            <label class="form-label">@localizer["Second Address"]</label>
            <div class="input-group col-9">
                <input hidden id="address1-id" value="@Model.Addresses[1].Id" />
                <input class="form-control shadow" id="input-second-address" value="@Model.Addresses[1].PlaceName" disabled data-id="@Model.Addresses[1].Id" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary shadow" type="button" data-bs-toggle="tooltip" data-bs-placement="right" title="Automatically detect your position" id="location-second-address-btn" hidden>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                    </button>
                    <button class="btn btn-outline-danger shadow" type="submit" id="delete-second-address-btn" title="@localizer["Delete address"]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <button id="save-second-address-btn" class="btn btn-primary shadow" type="button" hidden>@localizer["Save"]</button>
    }
</div>

@section Scripts
{
<partial name="_ValidationScriptsPartial" />

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="/js/address.js" type="text/javascript"></script>
}