@page
@using DeliveryWebApp.Application.Common.Security
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<IndexModel> localizer
@{
    ViewData["Title"] = localizer["Profile"];
    ViewData["ActivePage"] = ManageNavPages.Index;

    var isAdmin = User.IsInRole(RoleName.Admin);
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            @if (!isAdmin)
            {
                <div class="form-group">
                    <label asp-for="FName">@localizer["First Name"]</label>
                    <input asp-for="FName" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewFName">@localizer["New First Name"]</label>
                    <input asp-for="Input.NewFName" class="form-control" />
                    <span asp-validation-for="Input.NewFName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LName">@localizer["Last Name"]</label>
                    <input asp-for="LName" class="form-control" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewLName">@localizer["New Last Name"]</label>
                    <input asp-for="Input.NewLName" class="form-control" />
                    <span asp-validation-for="Input.NewLName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.PhoneNumber">@localizer["Phone number"]</label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="btn btn-primary">@localizer["Save"]</button>
            }
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}