@page
@using DeliveryWebApp.Domain.Constants
@using DeliveryWebApp.Application.Common.Security
@using Microsoft.Extensions.Localization
@model DeliveryWebApp.WebUI.Areas.Identity.Pages.Account.Manage.RequestModel
@inject IStringLocalizer<RequestModel> localizer
@{
    ViewData["Title"] = localizer["Change User Role Request"];
}

<h4>@ViewData["Title"]</h4>

<h6>@localizer["If you want to become a rider or a restaurateur and manage your own food business, send a request to the system admin"]</h6>
<br/>
<form method="post">
    <div class="form-group col-md-3">
        <label asp-for="Input.Role">@localizer["Role"]</label>
        <select class="form-select" aria-label="Select role" asp-for="Input.Role" asp-items="Model.Roles">
        </select>
        <span asp-validation-for="Input.Role" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">@localizer["Submit"]</button>
</form>
<hr/>
@if (Model.UserRequest != null)
{
    @switch (Model.UserRequest.Status)
    {
        case RequestStatus.Idle:
            <div class="alert alert-primary" role="alert">
                <p>@localizer["Your request to become a"] @Model.UserRequest.Role @localizer["has been sent, please wait the administrator."]</p>
            </div>
            break;

        case RequestStatus.Accepted:
            <div class="alert alert-success" role="alert">
                <p>@localizer["Your request to become a"] @Model.UserRequest.Role @localizer["has been accepted!"]</p>

                @if (Model.UserRequest.Role == RoleName.Rider)
                {
                    <p>@localizer["You are ready to go!"]</p>
                }
                else
                {
                    <a class="alert-link" asp-page="/RestaurateurPages/RestaurantDashboard">@localizer["Please click here to begin"]</a>
                }
            </div>
            break;

        case RequestStatus.Rejected:
            <div class="alert alert-danger" role="alert">
                <p>@localizer["Your request to become a"] @Model.UserRequest.Role @localizer["has been rejected :("]</p>
            </div>
            break;
    }
}
