@page "{id:int?}"
@using Microsoft.AspNetCore.Localization
@model DeliveryWebApp.WebUI.Pages.RiderPages.OrderDetailModel
@{
    ViewData["Title"] = "Order Selection";
    // TODO: localize
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<a asp-page="/RiderPages/Orders" title="Back to order list" class="link-dark">
    <img src="/icons/arrow-left.svg" height="36" width="36" alt="arrow_left"/>
</a>

@if (Model.HasBeenTaken)
{
    <div class="alert-warning alert" role="alert">
        This order has been taken by another rider
    </div>
}
else
{
    <h1>@ViewData["Title"]</h1>


    <div>
        <h4>Order n°: @Model.Order.Id</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.Date)
            </dt>
            <dd class="col-sm-10">
                @Model.Order.Date.ToLocalTime().ToString("f")
            </dd>
            <dt class="col-sm-2">
                Delivery Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeliveryAddress.PlaceName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Restaurateur.RestaurantName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Restaurateur.RestaurantName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Restaurateur.RestaurantCategory)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Restaurateur.RestaurantCategory)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Order.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Status)
            </dd>
            <dt class="col-sm-2">
                Total
            </dt>
            <dd class="col-sm-10">
                @Model.Order.TotalPrice.ToString("C")
            </dd>
        </dl>
        
        @* Accordion *@
        
        <div class="accordion" id="products-accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#table-collapse" aria-expanded="True" aria-controls="table-collapse">
                        Product List
                    </button>
                </h2>
                
                <div id="table-collapse" class="accordion-collapse collapse show" aria-labeledby="heading" data-bs-parent="#products-accordion">
                    <div class="accordion-body">
                        
                        @* Table *@
                        
                        <table class="table">
                            <thead>
                            <tr class="table-primary">
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Price
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @for (var i = 0; i < Model.OrderItems.Count; i++)
                            {
                                <tr>
                                    <td>
                                        <img class="img-dashboard square rounded img-fluid" style="height: 60px; width: 60px" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Products[i].Image)" alt="product_image" />
                                    </td>
                                    <td>
                                        @Model.Products[i].Name
                                    </td>
                                    <td>
                                        @Model.Products[i].Category
                                    </td>
                                    <td>
                                        @Model.OrderItems[i].Quantity
                                    </td>
                                    <td>
                                        @Model.OrderItems[i].ProductPrice.ToString("C")
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
        <br />
        <form method="post">
            <button class="btn btn-primary" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                Take this order
            </button>
        </form>

    </div>
}

