@model DeliveryWebApp.WebUI.Pages.RestaurateurPages.RestaurantDashboardModel

@section Head
{
    <link rel="stylesheet" href="/css/images.css" type="text/css" />

    @* Google fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">

    <div class="col">

        @* Logo *@
        <form method="post" enctype="multipart/form-data" asp-page-handler="UploadNewImage">
            <div class="form-row square">
                <div class="col">
                    <img id="dashboard-img" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Restaurant.Logo)" class="rounded img-fluid square img-dashboard" alt="">
                    <button class="btn btn-secondary edit-img-btn" type="button" value="NewImage" onclick="openFiles();" id="upload-new-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                    <input type="file" id="new-img-input" style="display: none;" asp-for="Input.Logo" onchange="changeImage(this);this.form.submit();" />
                </div>
            </div>

            <script type="text/javascript">
                                function changeImage(input) {
                                    if (input.files && input.files[0]) {
                                        const reader = new FileReader();

                                        reader.onload = function (i) {
                                            $("#dashboard-img")
                                                .attr("src", i.target.result);
                                        };

                                        reader.readAsDataURL(input.files[0]);
                                    }
                                }
            </script>

        </form>

    </div>

    <div class="col-lg-10">

        @* Name *@
        <form method="post" asp-page-handler="NewName" asp-route-id="@Model.Restaurant.Id">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input class="form-control" asp-for="Input.Name" value="@Model.Restaurateur.Restaurant.Name" disabled readonly>
            </div>

            <div class="input-group">
                <input asp-for="Input.Name" class="form-control" placeholder="Restaurant new name" aria-label="Restaurant new name">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" value="NewName">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>

<div class="row">


    @* Category *@
    <form method="post" asp-page-handler="NewCategory" asp-route-id="@Model.Restaurant.Id">
        <div class="form-group">
            <label asp-for="Input.Category"></label>
            <input class="form-control" asp-for="Input.Category" value="@Model.Restaurateur.Restaurant.Category" disabled readonly>
        </div>

        <div class="input-group col-md-10">
            <select class="form-select" aria-label="Select category" asp-for="Input.Category" aria-selected="true" asp-items="Model.Categories">
            </select>
            <span asp-validation-for="Input.Category" class="text-danger"></span>
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" value="NewCategory">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
</div>

<form method="post" asp-page-handler="UpdateAddress">
    <div class="row">
        <div class="form-group">
            <label>Address</label>
            <div class="input-group col-lg-10">
                <input class="form-control" value="@Model.RestaurantAddress.ToString()" disabled readonly>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#edit-address-collapse" aria-expanded="false" aria-controls="edit-address-collapse">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse" id="edit-address-collapse">
        <div class="card card-body">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.AddressLine1"></label>
                    <input class="form-control" asp-for="Input.AddressLine1" value="@Model.RestaurantAddress.AddressLine1" placeholder="Address Line 1" id="update-addressline1">
                    <span asp-validation-for="Input.AddressLine1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.AddressLine2"></label>
                    <input class="form-control" asp-for="Input.AddressLine2" value="@Model.RestaurantAddress.AddressLine2" placeholder="Address Line 2" id="update-addressline2">
                    <span asp-validation-for="Input.AddressLine2" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="Input.Number"></label>
                    <input class="form-control" asp-for="Input.Number" value="@Model.RestaurantAddress.Number" placeholder="1, 21B..." id="update-number">
                    <span asp-validation-for="Input.Number" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.City"></label>
                    <input class="form-control" asp-for="Input.City" value="@Model.RestaurantAddress.City" placeholder="City" id="update-city">
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.PostalCode"></label>
                    <input class="form-control" asp-for="Input.PostalCode" value="@Model.RestaurantAddress.PostalCode" placeholder="Postal Code: 20020..." id="update-postalcode">
                    <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.StateProvince"></label>
                    <input class="form-control" asp-for="Input.StateProvince" value="@Model.RestaurantAddress.StateProvince" placeholder="CA, NY, ..." id="update-stateprovince">
                    <span asp-validation-for="Input.StateProvince" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <label asp-for="Input.Country"></label>
                    <select class="form-select" aria-label="Select country" asp-for="Input.Country" asp-items="Model.Countries" aria-selected="@Model.RestaurantAddress.Country" id="update-country">
                    </select>
                    <span asp-validation-for="Input.Country" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" asp-for="Input.Latitude" id="update-latitude" hidden>
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" asp-for="Input.Longitude" id="update-longitude" hidden>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="save-btn">Save</button>
    </div>

</form>