@page "{id:int?}"
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@model DeliveryWebApp.WebUI.Pages.RestaurateurPages.EditProductModel
@inject IStringLocalizer<EditProductModel> localizer
@{
    ViewData["Title"] = localizer["Edit Product"];
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

@section Head
{
    <link rel="stylesheet" href="/css/images.css" type="text/css" />
}

<h1>@ViewData["Title"] - @Model.Product.Id</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-row square">
                <div class="col">
                    <img id="product-img" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Product.Image)" class="rounded img-fluid square img-dashboard" alt="">
                    <button class="btn btn-secondary edit-img-btn" type="button" value="NewImage" onclick="openFiles();" id="upload-new-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
                    <input type="file" id="new-img-input" hidden class="form-control" asp-for="Input.Logo" onchange="changeImage(this)" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="form-label">@localizer["Name"]</label>
                <input asp-for="Input.Name" class="form-control" value="@Model.Product.Name"/>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Category" class="form-label"></label>
                <select asp-for="Input.Category" asp-items="Model.Categories" class="form-select"></select>
                <span asp-validation-for="Input.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Price" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Input.Price" class="form-control" value="@Model.Product.Price.ToString("##.##")" />
                    <span class="input-group-text">@requestCulture.UICulture.NumberFormat.CurrencySymbol</span>
                </div>
                <span asp-validation-for="Input.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Discount" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Input.Discount" class="form-control" value="@Model.Product.Discount"/>
                    <span class="input-group-text">%</span>
                </div>
                <small class="small text-muted">@localizer["0 for no discount"]</small>
                <span asp-validation-for="Input.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <p class="form-label">
                        @localizer["Quantity"]:
                        <span id="range-output"> </span>
                    </p>
                    <input type="range" asp-for="Input.Quantity" class="form-range col-3" value="@Model.Product.Quantity" step="1" min="0" max="500" id="quantityRange">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    
    <script src="/js/customValidation/customValidation.js"></script>

    <script type="text/javascript" src="/js/image_utilities.js"></script>

    <script type="text/javascript">

        function changeImage(input) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (i) {
                    $("#product-img")
                        .attr("src", i.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        const range = document.getElementById("quantityRange");
        const output = document.getElementById("range-output");

        output.innerHTML = range.value;

        range.oninput = function () {
            output.innerHTML = this.value;
        }

    </script>
}
