@using Microsoft.Extensions.Localization
@model DeliveryWebApp.WebUI.Pages.RestaurateurPages.RestaurantDashboardModel
@inject IStringLocalizer<RestaurantDashboardModel> localizer

<div class="text-start">

    <div class="card card-body shadow">
        <form method="post" enctype="multipart/form-data">

            <div class="form-row">
                <div class="mb-3">
                    <label asp-for="Input.Logo" class="form-label">@localizer["Choose a logo"]</label>
                    <input class="form-control shadow" type="file" asp-for="Input.Logo" id="new-logo">
                    <span asp-validation-for="Input.Logo" class="text-danger"></span>
                </div>

                <img id="img-uploaded" src="" class="rounded img-fluid square float-start shadow" alt="" hidden>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.Name">@localizer["Name"]</label>
                    <input class="form-control shadow" asp-for="Input.Name" id="name">
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-7">
                    <div class="form-group col-md-7">
                        <label asp-for="Input.Category">@localizer["Category"]</label>
                        <select class="form-select shadow" id="category"  aria-label="Select category" asp-for="Input.Category" asp-items="Model.Categories" required>
                        </select>
                        <span asp-validation-for="Input.Category" class="text-danger"></span>
                    </div>
                </div>
            </div>

            @* Address *@

            <div class="form-group col-md-7">
                <label class="form-label">@localizer["Address"]</label>
                <div class="input-group col-7">
                    <input class="form-control" asp-for="Input.PlaceName" id="restaurant-address" value="" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary shadow" type="button" id="location-btn" data-bs-toggle="tooltip" data-bs-placement="right" title="@localizer["Automatically detect your position"]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="Input.PlaceName" class="text-danger"></span>
            </div>

            <input id="latitude" type="number" asp-for="Input.Latitude" hidden />
            <input id="longitude" type="number" asp-for="Input.Longitude" hidden />

            <button type="submit" id="submit-btn" class="btn btn-primary">@localizer["Submit"]</button>
        </form>

    </div>
</div>

<div id="image" class="text-center">
    <img src="/icons/undraw_Hamburger_8ge6.svg" alt="hamburger" height="225" width="225" />
</div>
