@page "{id:int?}"
@using IdentityServer4.Extensions
@model DeliveryWebApp.WebUI.Pages.RestaurateurPages.RestaurantOrdersModel
@{
    ViewData["Title"] = "Restaurant Orders";
}
@section Head {
    <link rel="stylesheet" href="/css/images.css" type="text/css" />
}

@if (Model.Orders.IsNullOrEmpty())
{
    <div class=" alert alert-secondary" role="alert">
        Your restaurant has no orders yet.
    </div>
}
else
{
    <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Orders[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders[0].Customer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders[0].Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Orders[0].TotalPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Restaurant.Logo)" alt="" />
                        </td>
                        <td>
                            @Html.DisplayFor(model => order.Id)
                        </td>
                        <td>
                            @* TODO: EMAIL? *@
                        </td>
                        <td>
                            @* TODO: Localize *@
                            @Html.DisplayFor(model => order.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(model => order.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(model => order.TotalPrice)
                        </td>
                        <td>
                            <a asp-page="">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
}