@page
@model DeliveryWebApp.WebUI.Pages.AdminPages.OrdersModel
@{
    ViewData["Title"] = "Order History";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Restaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orders[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./OrderDetail" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>