@page "{id:int}"
@using DeliveryWebApp.Application.Common.Security
@using DeliveryWebApp.Infrastructure.Identity
@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@model DeliveryWebApp.WebUI.Pages.AdminPages.RiderDetailModel
@inject UserManager<ApplicationUser> userManager
@inject IStringLocalizer<RiderDetailModel> localizer
@{
    ViewData["Title"] = "Restaurateur Detail";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
    // TODO: delivery credit
}
}

@section Head
{
    <style type="text/css">
        #submit-btn { margin-top: 1rem; }

        p { margin: 1rem; }

        #back { text-decoration: none; }
    </style>
}

<a asp-page="/AdminPages/UserList" title="Back to list" id="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
</a>

<hr/>

<h1>@localizer["Detail of rider"]: @Model.Rider.Id</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @localizer["First Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @localizer["Last Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        @if (!Model.Customer.Addresses.IsNullOrEmpty())
        {
            <dt class="col-sm-2">
                @localizer["Addresses"]
            </dt>
            @foreach (var address in Model.Customer.Addresses)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => address.ToString())
                </dd>
            }
        }
        <dt class="col-sm-2">
            <button id="edit-role-btn" class="btn btn-outline-dark text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-roles" aria-expanded="false" aria-controls="collapse-roles">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                @localizer["Edit"]
            </button>
        </dt>
    </dl>

    @* Collapse *@
    <div class="collapse" id="collapse-roles">
        <div class="card card-body col-sm-6">
            @* Tabs *@
            <ul class="nav nav-tabs" id="tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="customer-tab" data-bs-toggle="tab" data-bs-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="true">
                        <img src="/icons/person-circle.svg" alt="customer" height="16" width="16"/>
                        @localizer["To Customer"]
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="restaurateur-tab" data-bs-toggle="tab" data-bs-target="#restaurateur" type="button" role="tab" aria-controls="restaurateur" aria-selected="false">
                        <img src="/icons/shop.svg" alt="restaurateur" height="16" width="16"/>
                        @localizer["To Restaurateur"]
                    </button>
                </li>
            </ul>

            @* Tabs content *@
            <div class="tab-content" id="tab-panes">

                @* Customer tab *@
                <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">

                    <p>
                        @localizer["You are going to downgrade this user to"] <strong>@localizer["Customer"]</strong>
                    </p>

                    <form method="post" asp-page-handler="ToCustomer">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                                </svg>
                                @localizer["Submit"]
                            </button>
                        </div>
                    </form>

                </div>

                @* Restaurateur tab *@
                <div class="tab-pane fade" id="restaurateur" role="tabpanel" aria-labelledby="restaurateur-tab">

                    <p>
                        @localizer["You are going to change this user role from"] <strong>@Model.CurrentRole</strong> @localizer["to"] <strong>@localizer["Food Vendor"]</strong>
                    </p>

                    <form method="post" asp-page-handler="ToRestaurateur">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                    <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                                </svg>
                                @localizer["Submit"]
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <form method="post">
        @if (await userManager.IsLockedOutAsync(await userManager.FindByIdAsync(Model.Customer.ApplicationUserFk)))
        {
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="UnblockRider">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-slash" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.093 3.093c-.465 4.275.885 7.46 2.513 9.589a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.32 11.32 0 0 0 1.733-1.525l-.745-.745a10.27 10.27 0 0 1-1.578 1.392c-.346.244-.652.42-.893.533-.12.057-.218.095-.293.118a.55.55 0 0 1-.101.025.615.615 0 0 1-.1-.025 2.348 2.348 0 0 1-.294-.118 6.141 6.141 0 0 1-.893-.533 10.725 10.725 0 0 1-2.287-2.233C3.053 10.228 1.879 7.594 2.06 4.06l-.967-.967zM3.98 1.98l-.852-.852A58.935 58.935 0 0 1 5.072.559C6.157.266 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.483 3.626-.332 6.491-1.551 8.616l-.77-.77c1.042-1.915 1.72-4.469 1.29-7.702a.48.48 0 0 0-.33-.39c-.65-.213-1.75-.56-2.836-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524a49.7 49.7 0 0 0-1.357.39zm9.666 12.374-13-13 .708-.708 13 13-.707.707z"/>
                </svg>
                @localizer["Unblock User"]
            </button>
        }
        else
        {
            <button class="btn btn-outline-secondary" type="submit" asp-page-handler="BlockRider">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield" viewBox="0 0 16 16">
                    <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                </svg>
                @localizer["Block User"]
            </button>
        }
    </form>

</div>

@section Scripts
{
    <script language="javascript">
        $(".collapse").onclick(function(event) {
            event.stopPropagation();
        });
    </script>

    <partial name="_ValidationScriptsPartial"/>
}