@page

@using DeliveryWebApp.Infrastructure.Identity
@using DeliveryWebApp.Infrastructure.Services.Utilities
@using IdentityServer4.Extensions
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model DeliveryWebApp.WebUI.Pages.AdminPages.UserListModel
@{
    ViewData["Title"] = "User List";
}

@* TODO: LOCALIZE *@
@* TODO: JSGRID? *@
@* TODO: add icons to modals *@

<ul class="nav justify-content-center nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-customers-tab" data-bs-toggle="pill" data-bs-target="#pills-customers" type="button" role="tab" aria-controls="pills-customers" aria-selected="true">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>

            Customers
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-riders-tab" data-bs-toggle="pill" data-bs-target="#pills-riders" type="button" role="tab" aria-controls="pills-riders" aria-selected="false">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
            </svg>

            Riders
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-restaurateurs-tab" data-bs-toggle="pill" data-bs-target="#pills-restaurateurs" type="button" role="tab" aria-controls="pills-restaurateurs" aria-selected="false">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
                <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
            </svg>

            Restaurateurs
        </button>
    </li>
</ul>

<div class="tab-content text-center" id="pills-tabContent">

@* Customers tab *@
<div class="tab-pane fade show active" id="pills-customers" role="tabpanel" aria-labelledby="pills-customers-tab">

    @if (Model.Customers.IsNullOrEmpty())
    {
        <div class="alert alert-secondary" role="alert">
            <p>There are no customers registered at the moment</p>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>
                    @Html.DisplayNameFor(model => model.Customers[0].Id)
                </th>
                <th>
                    Username
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Details
                </th>
                <th>
                    Block
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Customers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Customers)))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a class="btn" asp-page="/AdminPages/CustomerDetail" asp-route-id="@item.Id" title="View details">
                            <img src="/icons/eye.svg" alt="detail" height="16" width="16"/>
                        </a>
                    </td>
                    <td>
                        @if (await UserManager.IsLockedOutAsync(await UserManager.FindByIdAsync(item.ApplicationUserFk))) // user is disabled
                        {
                            <form method="post">
                                <button asp-page-handler="UnblockCustomer" class="btn" title="Unblock user" type="submit" asp-route-id="@item.Id">
                                    <img src="/icons/shield-slash.svg" alt="blocked" height="16" width="16"/>
                                </button>
                            </form>
                        }
                        else // not disabled
                        {
                            <a class="btn" title="Block user" data-bs-toggle="modal" data-bs-target="#customer-@item.Id-block-modal">
                                <img src="/icons/shield.svg" alt="enabled" height="16" width="16"/>
                            </a>

                        @* Vertically centered modal to confirm action *@

                            <div class="modal fade show" id="customer-@item.Id-block-modal" aria-labelledby="customer-@item.Id-block-modal-title" aria-modal="true" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="customer-@item.Id-block-modal-title">Block user @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Customers)))</h5>
                                            <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to block this user?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                            <form method="post">
                                                <button type="submit" class="btn btn-primary" value="BlockCustomer" asp-page-handler="BlockCustomer" asp-route-id="@item.Id">Confirm</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </td>
                    <td>
                        <a class="btn" title="Delete user" data-bs-toggle="modal" data-bs-target="#customer-@item.Id-delete-modal">
                            <img src="/icons/trash.svg" alt="delete" height="16" width="16"/>
                        </a>

                        @* Vertically centered modal to confirm action *@

                        <div class="modal fade show" id="customer-@item.Id-delete-modal" aria-labelledby="customer-@item.Id-delete-modal-title" aria-modal="true" role="dialog">
                            <div id="" class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="customer-@item.Id-delete-modal-title">Delete user @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Customers)))</h5>
                                        <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to <strong>permanently delete</strong> this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        <form method="post">
                                            <button type="submit" class="btn btn-primary" value="DeleteCustomer" asp-page-handler="DeleteCustomer" asp-route-id="@item.Id">Confirm</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>

@* Riders tab *@
<div class="tab-pane fade" id="pills-riders" role="tabpanel" aria-labelledby="pills-riders-tab">

    @if (Model.Riders.IsNullOrEmpty())
    {
        <div class="alert alert-secondary" role="alert">
            <p>There are no riders registered at the moment</p>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Riders[0].Id)
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Delivery Credit
                    </th>
                    <th>
                        Details
                    </th>
                    <th>
                        Block
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Riders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Riders)))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryCredit) €
                        @* TODO: editable *@
                    </td>
                    <td>
                        <a class="btn" asp-page="/AdminPages/RiderDetail" asp-route-id="@item.Id" title="View details">
                            <img src="/icons/eye.svg" alt="detail" height="16" width="16"/>
                        </a>
                    </td>
                    <td>

                        @if (await UserManager.IsLockedOutAsync(await UserManager.FindByIdAsync(item.Customer.ApplicationUserFk))) // user is disabled
                        {
                            <form method="post">
                                <button class="btn" asp-page-handler="UnblockRider" type="submit" title="Unblock user" asp-route-id="@item.Id">
                                    <img src="/icons/shield-slash.svg" alt="blocked" height="16" width="16"/>
                                </button>
                            </form>
                        }
                        else // not disabled
                        {
                            <a href="#" class="btn" title="Block user" data-bs-toggle="modal" data-bs-target="#rider-@item.Id-block-modal">
                                <img src="/icons/shield.svg" alt="enabled" height="16" width="16"/>
                            </a>

                        @* Vertically centered modal to confirm action *@

                            <div class="modal fade show" id="rider-@item.Id-block-modal" aria-labelledby="rider-@item.Id-block-modal-title" aria-modal="true" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="rider-@item.Id-block-modal-title">Block user @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Riders)))</h5>
                                            <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to block this user?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                            <form method="post">
                                                <button type="button" class="btn btn-primary" asp-page-handler="BlockRider" asp-route-id="@item.Id">Confirm</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </td>
                    <td>
                        <a class="btn" href="#" title="Delete user" data-bs-toggle="modal" data-bs-target="#rider-@item.Id-delete-modal">
                            <img src="/icons/trash.svg" alt="delete" height="16" width="16"/>
                        </a>

                        @* Vertically centered modal to confirm action *@

                        <div class="modal fade show" id="rider-@item.Id-delete-modal" aria-labelledby="rider-@item.Id-delete-modal-title" aria-modal="true" role="dialog">
                            <div id="" class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="rider-@item.Id-delete-modal-title">Delete user @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Riders)))</h5>
                                        <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to <strong>permanently delete</strong> this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        <form method="post">
                                            <button type="button" class="btn btn-primary" asp-page-handler="DeleteRider" asp-route-id="@item.Id">Confirm</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }


</div>

@* Restaurateurs tab *@
<div class="tab-pane fade" id="pills-restaurateurs" role="tabpanel" aria-labelledby="pills-restaurateurs-tab">

    @if (Model.Restaurateurs.IsNullOrEmpty())
    {
        <div class="alert alert-secondary" role="alert">
            <p>There are no restaurateurs registered at the moment</p>
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Restaurateurs[0].Id)
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Restaurant
                    </th>
                    <th>
                        Details
                    </th>
                    <th>
                        Block
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Restaurateurs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Restaurateurs)))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.Email)
                    </td>
                    <td>
                        <a asp-page="#" asp-route-id="@item.Id">Restaurant</a>
                    </td>
                    <td>
                        <a class="btn" asp-page="/AdmiPages/RestaurateurDetail" asp-route-id="@item.Id" title="View details">
                            <img src="/icons/eye.svg" alt="detail" height="16" width="16"/>
                        </a>
                    </td>
                    <td>

                        @if (await UserManager.IsLockedOutAsync(await UserManager.FindByIdAsync(item.Customer.ApplicationUserFk)))
                        {
                            <form method="post">
                                <button class="btn" type="submit" asp-page-handler="UnblockRestaurateur" title="Unblock user" asp-route-id="@item.Id">
                                    <img src="/icons/shield-slash.svg" alt="blocked" height="16" width="16"/>
                                </button>
                            </form>
                        }
                        else
                        {
                            <a class="btn" href="#" title="Block user" data-bs-toggle="modal" data-bs-target="#restaurateur-@item.Id-block-modal">
                                <img src="/icons/shield.svg" alt="enabled" height="16" width="16"/>
                            </a>

                        @* Vertically centered modal to confirm action *@

                            <div class="modal fade show" id="restaurateur-@item.Id-block-modal" aria-labelledby="restaurateur-@item.Id-block-modal-title" aria-modal="true" role="dialog">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="restaurateur-@item.Id-block-modal-title">Block user @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Restaurateurs)))</h5>
                                            <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to block this user?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                            <form method="post">
                                                <button type="button" class="btn btn-primary" asp-page-handler="BlockRestaurateur" asp-route-id="@item.Id">Confirm</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </td>
                    <td>
                        <a class="btn" href="#" title="Delete user" data-bs-toggle="modal" data-bs-target="#rider-@item.Id-delete-modal">
                            <img src="/icons/trash.svg" alt="delete" height="16" width="16"/>
                        </a>

                        @* Vertically centered modal to confirm action *@

                        <div class="modal fade show" id="rider-@item.Id-delete-modal" aria-labelledby="rider-@item.Id-delete-modal-title" aria-modal="true" role="dialog">
                            <div id="" class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="rider-@item.Id-delete-modal-title">Delete user @await UserManager.GetUserNameAsync(await Model.GetUserAsync(item.Id, nameof(Model.Restaurateurs)))</h5>
                                        <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to <strong>permanently delete</strong> this user?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                                        <form method="post">
                                            <button type="button" class="btn btn-primary" asp-page-handler="DeleteRestaurateur" asp-route-id="@item.Id">Confirm</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

</div>
</div>