@page
@using DeliveryWebApp.Application.Products.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@model DeliveryWebApp.WebUI.Pages.CustomerPages.CheckoutModel
@inject IStringLocalizer<CheckoutModel> localizer
@{
    ViewData["Title"] = "Checkout";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

<h2>@ViewData["Title"]</h2>

<hr />

<h4>@localizer["Total"]: @Model.Basket.TotalPrice.ToString("C")</h4>
<br />
<table class="table">
    <thead>
        <tr class="table-primary">
            <th>
                @localizer["Image"]
            </th>
            <th>
                @localizer["Name"]
            </th>
            <th>
                @localizer["Price"]
            </th>
            <th>
                @localizer["Quantity"]
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Products.Count; i++)
        {
            <tr>
                <td>
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Products[i].Image)" style="height: 60px; width: 60px" alt="product_image" />
                </td>
                <td>
                    @Html.DisplayFor(model => model.Products[i].Name)
                </td>
                <td>
                    @Model.Products[i].DiscountedPrice().ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(model => model.BasketItems[i].Quantity)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h5>@localizer["Deliver to address"]</h5>
<form method="post">
    <div class="form-group col-md-5">
        <label asp-for="Input.Address"></label>
        <select class="form-select" asp-items="Model.CustomerAddresses" asp-for="Input.Address"></select>
        <span asp-validation-for="Input.Address" class="text-danger"></span>
    </div>


    <hr />

    <h5>@localizer["Payment method"]</h5>

    <button type="button" class="btn btn-warning">
        <img src="/icons/PayPal.svg" alt="paypal_logo" />
    </button>
    <br />
    <p>@localizer["or"]</p>

    <div class="form-group col-sm-4">
        <label asp-for="Input.CreditCard"></label>
        <div class="input-group">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z" />
                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z" />
                </svg>
            </span>
            <input asp-for="Input.CreditCard" class="form-control" />
            <small class="form-text text-muted">@localizer["We'll never save your payment method or share it with anyone else"]</small>
        </div>
        <span asp-validation-for="Input.CreditCard" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-outline-success">@localizer["Pay"]</button>
    <input type="reset" class="btn btn-outline-danger" src="icons/x.svg"/>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
