@page
@using DeliveryWebApp.Application.Products.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization
@model DeliveryWebApp.WebUI.Pages.CustomerPages.CheckoutModel
@inject IStringLocalizer<CheckoutModel> localizer
@{
    ViewData["Title"] = "Checkout";
    var requestCultureFeature = HttpContext.Features.Get<IRequestCultureFeature>();
    var requestCulture = requestCultureFeature.RequestCulture;
}

@section Head
{
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg { font-size: 3.5rem; }
        }

        .container { max-width: 960px; }
    </style>
}

<h2>@ViewData["Title"]</h2>

<hr/>

<div class="container">
    <main>
        <h4>@localizer["Total"]: @Model.Basket.TotalPrice.ToString("C")</h4>
        <br />
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>
                    @localizer["Image"]
                </th>
                <th>
                    @localizer["Name"]
                </th>
                <th>
                    @localizer["Price"]
                </th>
                <th>
                    @localizer["Quantity"]
                </th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.BasketItems.Count; i++)
            {
                <tr>
                    <td>
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Products[i].Image)" style="height: 60px; width: 60px" alt="product_image"/>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Products[i].Name)
                    </td>
                    <td>
                        @Model.Products[i].DiscountedPrice().ToString("C")
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BasketItems[i].Quantity)
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <h5>@localizer["Deliver to address"]</h5>
        <form method="post" class="">
            <div class="form-group col-md-6">
                <label asp-for="Input.AddressId">@localizer["Address"]</label>
                <select class="form-select" asp-for="Input.AddressId" asp-items="Model.CustomerAddresses"></select>
                <span asp-validation-for="Input.AddressId" class="text-danger"></span>
            </div>


            <hr/>

            <h5>@localizer["Payment method"]</h5>

            <div class="my-3">
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>
                    <label class="form-check-label" for="credit">@localizer["Credit card"]</label>
                </div>
                <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="debit">@localizer["Debit card"]</label>
                </div>
                @*<div class="form-check">
                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="paypal">PayPal</label>
                </div>*@
            </div>

            <div class="row gy-3">
                <div class="col-md-6">
                    <label asp-for="Input.Name" class="form-label">@localizer["Name on card"]</label>
                    <input asp-for="Input.Name" class="form-control">
                    <small class="text-muted">@localizer["Full name as displayed on card"]</small>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>

                <div class="form-group col-md-6">
                    <label asp-for="Input.CreditCard">@localizer["Card Number"]</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <img src="/icons/credit-card.svg" alt="credit_card" height="16" width="16"/>
                        </span>
                        <input asp-for="Input.CreditCard" class="form-control"/>
                        <small class="form-text text-muted">@localizer["We'll never save your payment method or share it with anyone else"]</small>
                    </div>
                    <span asp-validation-for="Input.CreditCard" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="Input.ExpirationDate" class="form-label">@localizer["Expiration"]</label>
                    <input asp-for="Input.ExpirationDate" class="form-control">
                    <span class="text-danger" asp-validation-for="Input.ExpirationDate"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="Input.Cvv" class="form-label"></label>
                    <input asp-for="Input.Cvv" class="form-control">
                    <span asp-validation-for="Input.Cvv" class="text-danger"></span>
                </div>
            </div>

            <hr class="my-4">

            <button type="submit" class="btn btn-outline-success">@localizer["Pay"]</button>
            <input type="reset" class="btn btn-outline-danger" src="icons/x.svg"/>
        </form>

    </main>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}