@page "{id:int?}"
@using IdentityServer4.Extensions
@model DeliveryWebApp.WebUI.Pages.CustomerPages.RestaurantDetailModel
@{
    ViewData["Title"] = @Model.Restaurant.Name;
}


@section Head
{
    <link rel="stylesheet" href="~/css/images.css"/>

    <style type="text/css">
        .square {
            height: 100px;
            width: 100px;
        }
    </style>
}

<h4>@ViewData["Title"]</h4>


<img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Restaurant.Logo)" alt="restaurant_logo" class="img-dashboard square img-fluid rounded"/>
<hr/>

@if (!Model.Products.IsNullOrEmpty())
{
    <table class="table">
        <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <img class="img-dashboard square rounded img-fluid" style="height: 60px; width: 60px" src="data:image/jpeg;base64,@Convert.ToBase64String(product.Image)" alt="" />
                </td>
                <td>
                    @Html.DisplayFor(model => product.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => product.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => product.Discount)
                </td>
                <td>
                    @Html.DisplayFor(model => product.Category)
                </td>
                <td>
                    <form method="post" asp-page-handler="AddToCart" asp-route-id="@product.Id">
                        <button type="submit" class="btn btn-outline-dark" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
